global
    log stdout format raw daemon
    tune.ssl.default-dh-param           2048

defaults
        log             global
        mode            http
        option          httplog
        option          forwardfor

        timeout connect     5s
        timeout client      30s
        timeout server      30s

backend be_apps
        balance roundrobin
        option httpchk GET /
        http-reuse always
        server app1     172.24.0.3:80 check
        server app2     172.24.0.4:80 check

frontend fe_http
        bind *:80
        default_backend be_apps
        http-request redirect scheme https code 301 if !{ ssl_fc }

frontend fe_https
        bind *:443              ssl crt /etc/haproxy/certs/lb.nginx.pem alpn h2,http/1.1
        http-request            set-header      X-Forwarded-Proto https
        default_backend         be_apps


listen stats
        bind    *:8404
        mode    http
        stats   enable
        stats   uri /
        stats   refresh 5s
        stats   realm HAproxy\ stats
        stats   auth admin:admin123
